# Data Science Tools

In this notebook, Data Science Tools are summarized.

The following are languages used in data science:
1. Python
2. R
3. Scala
4. SQL
5. Java
6. Julia
7. JavaScript
8. php
9. Go
10. Ruby
11. Visual Basic
12. C++

Libraries used in data science include:

1. pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. ScikitLearn
6. Keras
7. TensorFlow
8. Pytorch
9. ggplot2
10. Vegas
11. Big DL

Data science tools are categoried as shown in the  table below:


|Task category|Open source tools|Commercial tools| Cloud based tools|
|:-------------|:-----------------|:----------------|:------------------|
|Data Management|MySQL, postgreSQ, Ceph, Mongo DB, Apache Cassandra, Hadoop File System|Oracle database, microsoft SQL server, IBM DB2|AWS Amazon Dynamo DB, Cloudant, IBM DB2|
|Data integration & transformation|Apache airflow, Apache Kafka, Apache nifi, spark SQL, Node RED|Informatica power centre, IBM Infosphere Datastage, talend, IBM Watson studio desktop|Informatica cloud data Integration, IBM data refinery|
|Data Visualisation|Pixie dust, hue, Kibana, Apache superse|Tableau, Microsoft power BI, IBM cognos analysis, IBM Watson studio desktop|Datamear, IBM cognos analysis, IBM watson studio| 
|Model Building||SPSS modeler, SAS enterprise miner, IBM Watson studio desktop| IBM Watson Machine learning, AI platform training|
|Model Deployment|Apache prediction IO, Seldon, mLeap, TensorFlow serving, Redhat openshift, Kubernetes, TensorFlow Lite, TensorFlow.JS|IBM SPSS collaboration & deployment service|IBM Watson Machine learning|
|Model Monitoring & Assessment|Model DB, Prometheus, IBM AI fairness 360 open source toolkit, Adversial Robostness 360 toolbox, AI Explainability 360||Amazon sage maker model monitor, Watson open scale|
|Code Asset Management|Git, Github, Gitlab, Bit bucket|||
|Data Asset Management|Apache atlas, ODPi Egeria, Kylo|Informatica, IBM infosphere Information governance catalog||
|Development Environment|Jupyter notebook, Jupyter lab, Apache Zeppelin, R studio, Spyder, Apache Spark, Ray|||
|Fully Integrated Tools| Knime, orange| Watson studio, Watson open scale, H20 AI|Watson Studio, watson open scale, Microsoft Azure machine learning, H20 dowerless AI|

### Here are simple examples of evaluating arithmetic expressions in python

In [2]:
#This is a simple arithmetic operation to mutiply and then add numbers
x = 2
y = 3
k = 5
z = (x*y)+k
print(z)

11

In [3]:
#This converts time in mins to hours by dividing by 60
mins = 600
hour = mins/60
print(str(mins)+"mins = "+ str(hour)+"hrs")

600mins = 10.0hrs

**Objectives**
- List languages used in data science
- List libraries used in data science
- List Data science task caterogies and tools for the tasks
- Do simple aritmentic and conversions using jupyter notebook

## Autor
Nwachi Faith